	body{
	background: url(../image/Trainh1.jpg) no-repeat 50% 50% fixed;
		
	background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   -webkit-background-size: cover;
}
.main {
	width: 960px; 
	margin: 25px auto; 
	background: url(pt.png); 
	color: #ddd;padding: 15px
}
h2{
	text-align: center;
	text-overflow: none;
}

nav{

	width: 750px;
	margin: auto;
}
nav ul{

	text-align: center;
	padding: 0px;

	list-style-type: none;
		margin:0 auto;
}
nav li{
	border: solid gray;
	list-style-type: none;
	width: 125px;
	height: 35px;
	line-height: 35px;
	display: inline-block;

	margin-left: 0px;
	margin-right: 0px;
}
nav a{
	background-color:  cyan;
	display: block;
	text-decoration: none;
	color: black;
}
nav a:hover{
	background-color: red;
	color: black;
}
nav a:visited{
	color: black;
}
